* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  background: url("./criptografia.png");
  background-position: center;
  background-size: cover;
}

.menu {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.formulario {
  margin-top: 60px;
  padding: 10px;
  width: 400px;
  height: 500px;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.664),
    #8b868685,
    black
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  border-radius: 30px;
}

.titulo {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}

#selecao {
  margin: 50px;
  width: 300px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
}

option {
  width: 150px;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  border-radius: 10px;
  text-align: center;
}

#passo {
  display: none;
  width: 300px;
  font-size: 18px;
  font-weight: bold;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 24px;
}
.mensagemRecebida64 {
  padding: 20px;
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
}

.mensagemRecebidaCesar {
  display: none;
  padding: 20px;
  margin-top: 15px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
}

#resultado64 {
  padding: 15px;
  margin: 20px 0;
  border-radius: 5px;
  text-align: center;
}

#resultadoCesar {
  display: none;
  margin: 15px 0;
  border-radius: 10px;
  text-align: center;
}

#mensagens {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

.rodape {
  background: black;
  color: white;
  text-align: center;
  padding: 5px;
  margin-top: 69px;
}
